- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #two.sidebar
        .text
          %h1 Bellaire
          %p
            5713 Bissonnet St. # D&E 
            %br
            Bellaire, TX 77401 
            %br
            Tel: (713) 664-4738

          %h1 Houston
          %p
            11510 Gulf Frewway #I
            %br
            Houston,   TX 77034
            %br
            Tel: 713-378-4322
            %br
            Fax: 713-378-4390

          

      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Contact Us
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "485", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p5z5/", :width => "100%", :border => "none"}       

