- @title = " | About Us"
- @subtitle = ""
- @body_class = "two"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}



.body
  .center
    .content
      #two.main
        .content
          %a{:name => "anchor1"}
          .section
            %img{:src => "images/two-1.jpg", :width => "400"}
            %h1 About Us
            %p From 3 years old to 90 years old, our gentle touch always brings a smile to each of our patients.

            %p Happy Dental has been proudly providing affordable and expert dental care to the Houston community for more than 10 years. Dr. Hoa Bui received her D.D.S. from the University of Texas in 2001 and associate dentist Dr. Nguyen T. Pham received his D.D.S. from the University of Texas in 2010. Immediately after graduating in 2001, Dr. Bui established Happy Dental, and she has been giving her patients the highest standards in dental care ever since. Dr. Bui and Dr. Pham are personally committed to providing you with the most caring and thorough diagnosis and treatment that comes from the heart.

            %p At Happy Dental, our clients&rsquo; health and experience always comes first, and we are always ready and eager to listen to what you have to tell us. Our dedication and our true passion and caring is what makes us unique and different from other dental practices. We have a deep wish to understand our patients and to provide them with healing treatment, and for this reason, we are willing to work with any financial situation. We understand that your health is the most valuable part of life.

            %p Happy Dental provides maintenance and treatment for healthy teeth and gums, and also dental enhancement for a beautiful smile. Happy Dental is certified to offer both braces and Invisalign. Dr. Bui is a certified Invisalign provider (2003) and certified straight wire orthodontics provider (2006). 
        
