- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #two.sidebar
        .text
          %h1 Address:
          %p
            5713 Bissonnet St. # D&E 
            %br
            Bellaire, TX 77401 
            %br
            United States
          %h1 Phone:
          %p (713) 664-4738
          %h1 Store Hours:
          %p Mon-Fri:

          

      #two.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Contact Us
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "465", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p5z5/", :width => "100%", :border => "none"}       

