- @title = " | Doctors"
- @subtitle = ""
- @body_class = "three"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #two.main
        .content
          %a{:name => "anchor1"}
          .section
            %img{:src => "images/three-1.jpeg", :width => "271"}
            %h1 Dr. Hoa Bui
            %p
              Dr. Hoa Bui received her D.D.S. from the University of Texas in 2001. Immediately after graduating in 2001, Dr. Bui established Happy Dental, and she has been giving her patients the highest standards in dental care ever since. Dr. Bui is a certified Invisalign provider (2003) and certified straight wire orthodontics provider (2006).
        
          .spacer
          %a{:name => "anchor2"}
          .section
            %h1 Our Staff
            .image-holder
              %img.img-sm{:src => "/images/staff-1.jpg"}
              %img.img-sm{:src => "/images/staff-2.jpg"}
              %img.img-sm{:src => "/images/staff-3.jpg"}
                      

              
