- @title = " | Services"
- @subtitle = ""
- @body_class = "four"

%link{:href => "stylesheets/body-3.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #two.main
        .content
          %a{:name => "anchor1"}
          .section
            %img.right{:src => "images/four-1.jpg"}
            %h1 Services 
            %p
              Happy Dental offers personalized, one-on-one gentle care for children and adults in a comfortable, relaxing environment. Our dentists are trained in the latest procedures, and we provide comprehensive preventive dentistry, as well as specialized procedures to restore and restyle your smile. Dr. Hoa Bui and  Dr. take their time to enhance the life, health, and self-esteem of its clients through the highest standards of dental care -- making smiles that are not only beautiful, but healthy with an artistic touch. 


            %p We believe each and every patient with special care and we want the best possible treatment for you. At Happy Dental, we choose to practice comprehensive preventative dentistry, devoting individualized attention during each of your visits. Every patient receives a customized master plan that contains goals specific for their dental needs. This master plan will serve as your guide to attaining a disease-free mouth that not only functions comfortably, but looks beautiful! You deserve to have a smile that makes you feel confident and good about yourself. Through the art of dentistry, we can now make it possible for you to have that smile you desire.

  
          .spacer
          %a{:name => "anchor2"}
          .section.no-image
            %img.right{:src => "images/four-2.jpg"}
            %h6 We Offer
            %p - Teeth cleaning and maintenance
            %p - Cavity management
            %p - Bonded tooth-colored fillings
            %p - Root canal treatment
            %p - Mercury filling removal

            %h6 Other Services Include:
            %p - Soft tissue management and periodontal therapy 
            %p - Bite analysis and equilibratioin
            %p - Porcelain crowns and veneers
            %p - Full and partial dentures
            %p - Implants
            %p - Cosmetic recontouring
            %p - Bleaching: home and in-office Zoom!
            
            %h4 For more information regarding our services and expert dental care, please call us today.
